
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>About Us</h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                  
                </div>
            </div>
        </div>
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2 class="text-center mt-5">The Medical Care</h2>
                            <div class="mt-3">
                                <p>An Organization wants to start Health Insurance for its employees. The Medicare system will maintain all information related to the employee (Patient), maintenance of Claims pertaining to the Insurance companies, information about all sort of medical services providing by the hospital to the corporate employees, claim settlements & adjustments against their services authorizing by the Insurance Companies. Additionally this system can also maintain the health related all information of the employees. </p>
                                <ul>
                                    <li><span>Fax:</span>  04.39276631.</li>
                                    <li><span>Phone:</span> 036.546.985</li>
                                    <li><span>Email:</span> medical.care@gmail.com</li>
                                    <li><span>Address:</span> Ha Noi - Viet Nam</li>
                                </ul>
                                <div class="pt-10 text-center mt-3">
                                    <a asp-controller="home" asp-action="index" class="btn btn-outline-primary">See More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <img src="https://i.pinimg.com/originals/0a/5a/d3/0a5ad33520bfe799d8fa7a9fec5baf15.jpg" alt="Alternate Text" style="display: block"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © 2020 by <a asp-controller="home" asp-action="index">Medical Care</a>. All right reserved.
    </div>
</div>

