
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Q&A</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-wrap">
                <h4 class="mb-20 h4 text-blue">Frequently asked questions</h4>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block" data-toggle="collapse" data-target="#faq1">
                                1. I already have social insurance, health insurance. So should I join more life insurance?
                            </button>
                        </div>
                        <div id="faq1" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                Congratulations on having public insurance regimes, but since this is social insurance, the level of coverage is not as high as your needs. Furthermore, those generous benefits are generally limited service and moderate protection. The normal condition for getting insurance is to work 20 to 25 years, but most people very few meet the minimum requirements to receive a pension.Usually, the principles of social insurance and health insurance are not maintained continuously. and often, as well as having a free-of-charge term like BHNT. Social insurance will not pay a customer in case of suicide. However, these terms still apply in the NHT after the contract is valid for more than 2 years. Congratulations on getting the Social and Health Insurance, but this benefit is only applicable to you personally, so How about your loved ones? Will they need medical care and BH?
                                Social insurance and health insurance are policies within the social security system that the State provides to certain subjects, contributing to stabilizing life and providing certain financial protection upon retirement. , often get sick, sick, ... However, the rights, participants and the coverage as well as the flexibility of these policies do not meet the needs of many people. Life insurance is a solution to provide additional insurance services that social insurance / health insurance does not yet have, or has but has not yet met the diverse needs of customers. That is also the reason for you to join life insurance, whether or not you already have social insurance or health insurance.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#faq2">
                                2. What insurance companies guarantee to pay when participating in insurance?
                            </button>
                        </div>
                        <div id="faq2" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                The legal insurance contract between the insurance enterprise and the customer is a valid evidence to ensure that the insurance enterprise fulfills its payment commitment.
                                The terms and conditions of any life insurance product, prior to being launched on the market, are checked and approved by the Ministry of Finance of Vietnam. The Ministry of Finance also issues and supervises the implementation of financial regulations to ensure that the Insurance Company meets the ability to pay for policyholders.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#faq3">
                                3. What is the condition for life insurance?
                            </button>
                        </div>
                        <div id="faq3" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <p>As long as customers in the age group can be insured (there are specific provisions in each specific product), have a suitable standard health condition, are able to pay premiums can participate. life insurance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#faq4">
                                4. How much money do customers need to have at least to participate in life insurance?
                            </button>
                        </div>
                        <div id="faq4" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                The amount of money the customer needs to participate in insurance depends on many factors: the difference between insurance products, the duration of the insurance, the amount insured, the period of premium payment ... Normally, the amount of insurance Appropriate insurance is determined based on the following determinants:
                                Objectives that a customer is expected to achieve after a specified period of time;
                                The minimum amount a customer needs to accomplish that goal;
                                Customers need to be protected by what risks;
                                Ability to pay premiums (savings) monthly, quarterly or annually of customers.
                                AIA's professional insurance agents will help clients identify the above factors that best match the customer's real situation.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#faq5">
                                5. Which life insurance product is the best?
                            </button>
                        </div>
                        <div id="faq5" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Determining which product is the best should be based on the actual circumstances and the needs of each customer from time to time. This means that a product might work best for one customer, but not necessarily best for another; Or one product is best for the customer at this point in time, but at a different time another might be better.
                                But in general, all life insurance products contribute to helping customers feel more secure about risks in life and fulfill their financial plans in the future.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            Copyright © 2020 by <a asp-controller="home" asp-action="index">Medical Care</a>. All right reserved.
        </div>
    </div>

