@{
    ViewData["Title"] = "Home Page";
}
<div class="xs-pd-20-10 pd-ltr-20">


    <div class="title pb-20 pt-20">
        <h2 class="h3 mb-0">Quick Start</h2>
    </div>

    <div class="row">
        @foreach (var c in Model)
        {
        <div class="col-md-4 mb-20">
            <a asp-controller="home" asp-action="PolicyOfCompany" asp-route-id="@c.ID" class="card-box d-block mx-auto pd-20 text-secondary">
                <div class="img pb-30">
                    <img src="~/assets/public/src/@c.Image" style="height: 300px; width:350px" />
                </div>
                <div class="content">
                    <h3 class="h4">@c.Name</h3>
                    <p class="max-width-200 ">@c.Address</p>
                    <p class="max-width-200 ">@c.Url</p>
                </div>
            </a>
        </div>
        }
    </div>
</div>

<div class="footer-wrap pd-20 mb-20 card-box">
    Copyright © 2020 by <a asp-controller="home" asp-action="index">Medical Care</a>. All right reserved.
</div>
