
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Contact Us</h4>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="h4 text-blue mb-30 text-center">Personnel</h4>
        <div class="card-deck mb-30">
            <div class="row">
                <div class="card">
                    <img class="card-img-top" style="height: 300px;  object-fit: cover;"  src="https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/120812760_1010459009465475_90927199314198547_o.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=RnYEo2Dqd8MAX80QVXV&_nc_ht=scontent.fhan5-6.fna&oh=152608fccc4bdc3651afdd647de95724&oe=60437669" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PHAM TUAN - Chairman of the board</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top " style="height: 300px;  object-fit: cover;"  src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.0-9/133690010_890302931723740_4897017713202137858_o.jpg?_nc_cat=102&ccb=2&_nc_sid=e3f864&_nc_ohc=YNgX14wjBfoAX_FacH7&_nc_ht=scontent.fhan5-2.fna&oh=efe9a03dfd207675ba2b6bfb743f3eb7&oe=60437DAB" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TRUONG THANH TU - Managing director</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top " style="height: 300px;  object-fit: cover;" src="https://scontent.fhan5-4.fna.fbcdn.net/v/t1.0-9/120276334_1294841180852265_978321052909351337_o.jpg?_nc_cat=104&ccb=2&_nc_sid=e3f864&_nc_ohc=RslhCYQEBfEAX8JUQaF&_nc_ht=scontent.fhan5-4.fna&oh=c98bb0249ab0724f50f61cb432b4b961&oe=60405816" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">VU QUANG HUY - Business manager</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="card">
                    <img class="card-img-top " style="height: 300px;  object-fit: cover;" src="https://scontent.fhan5-7.fna.fbcdn.net/v/t1.0-9/46224173_533702767097372_931079331302604800_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_ohc=3uousmBmddcAX8WEHMu&_nc_ht=scontent.fhan5-7.fna&oh=1a04cdc47d9bab03c9da62effbd04904&oe=6042051E" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">DO THI TRANG HOA - Consultants</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top " style="height: 300px;  object-fit: cover;" src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.0-9/133650886_3739659902806749_1154799049283951510_o.jpg?_nc_cat=101&ccb=2&_nc_sid=a4a2d7&_nc_ohc=L3bGh0n59VAAX8uGKkr&_nc_ht=scontent.fhan5-5.fna&oh=782567478138e03590c2ee4bea19d244&oe=6041EF20" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">NGUYEN DINH HIEU - Sales specialist</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        Copyright © 2020 by <a asp-controller="home" asp-action="index">Medical Care</a>. All right reserved.
    </div>
</div>