@model User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-2">User</h4>
    <div style="padding:30px">
        <div class="row">
            <div class="col">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger offset-4"></div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="FirstName" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="LastName" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Email" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Password" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Level" class="control-label"></label>
                            </div>
                            <div class="col-6">
                                <select asp-for="Level" class="form-control" asp-items="Html.GetEnumSelectList<Level>()"></select>
                                <span asp-validation-for="Level" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Gender" class="control-label"></label>
                            </div>
                            <div class="col-6">
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Address" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Phone" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Username" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Password" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Salary" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <input asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-3 offset-4">
                            <input type="submit" value="Edit" class="btn btn-primary form-control text-white" />
                        </div>
                        <div class=" col-3 ">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

