<div class="user-notification">
    <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
            <i class="icon-copy dw dw-notification"></i>
            <span>@ViewBag.Count</span>
        </a>
        @if (@ViewBag.Count > 0)
        {
            <div class="dropdown-menu dropdown-menu-right">
                <div class="notification-list mx-h-350 customscroll">
                    <ul>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == Status.Request)
                            {
                                <li>
                                    <a class="alert-primary">
                                        <img src="~/assets/admin/vendors/images/img.jpg" alt="">
                                        <h3>@item.Policies</h3>
                                        <p>Your are authenticated</p>
                                    </a>
                                </li>
                            }
                           @if (item.Status == Status.Approval)
                            {
                                <li>
                                    <a class="alert-danger">
                                        <img src="~/assets/admin/vendors/images/img.jpg" alt="">
                                        <h3>@item.Policies</h3>
                                        <p>Your are authenticated</p>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>

        }
    </div>
</div>