
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="pd-ltr-20 height-100-p xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>News</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="container pd-0">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="blog-list">
                                <ul>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="blog-img">
                                                    <img src="~/assets/public/src/pexels-evelina-zhu-5434017.jpg" class="bg_img" />
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="blog-caption">
                                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                                                    <div class="blog-by">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                        <div class="pt-10">
                                                            <a href="#" class="btn btn-outline-primary">Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="blog-img">
                                                    <img src="~/assets/public/src/pexels-ryutaro-tsukata-5473182.jpg" class="bg_img"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="blog-caption">
                                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                                                    <div class="blog-by">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                        <div class="pt-10">
                                                            <a href="#" class="btn btn-outline-primary">Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="blog-img">
                                                    <img src="~/assets/public/src/pexels-photo-5327865.jpeg" class="bg_img" />
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="blog-caption">
                                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                                                    <div class="blog-by">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                        <div class="pt-10">
                                                            <a href="#" class="btn btn-outline-primary">Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row no-gutters">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="blog-img">
                                                    <img src="~/assets/public/src/pexels-jonathan-meyer-668300.jpg" class="bg_img" />
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="blog-caption">
                                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h4>
                                                    <div class="blog-by">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                                        <div class="pt-10">
                                                            <a href="#" class="btn btn-outline-primary">Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card-box mb-30">
                                <h5 class="pd-20 h5 mb-0">Latest Post</h5>
                                <div class="latest-post">
                                    <ul>
                                        <li>
                                            <h4><a href="#">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a></h4>
                                            <span>Minim veniam</span>
                                        </li>
                                        <li>
                                            <h4><a href="#">Exercitation dolor sit amet, consectetur adipisicing elit</a></h4>
                                            <span>Adipisicing</span>
                                        </li>
                                        <li>
                                            <h4><a href="#">Ut enim ad minim veniam, quis nostrud exercitation ullamco</a></h4>
                                            <span>jQuery</span>
                                        </li>
                                        <li>
                                            <h4><a href="#">Quis nostrud, consectetur adipisicing elit</a></h4>
                                            <span>Consectetu</span>
                                        </li>
                                        <li>
                                            <h4><a href="#">Dolor sit amet, consectetur adipisicing elit</a></h4>
                                            <span>Dolor sit amet</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-box overflow-hidden">
                                <h5 class="pd-20 h5 mb-0">Archives</h5>
                                <div class="list-group">
                                    <a href="#" class="list-group-item d-flex align-items-center justify-content-between">January 2020</a>
                                    <a href="#" class="list-group-item d-flex align-items-center justify-content-between">February 2020</a>
                                    <a href="#" class="list-group-item d-flex align-items-center justify-content-between">March 2020</a>
                                    <a href="#" class="list-group-item d-flex align-items-center justify-content-between">April 2020</a>
                                    <a href="#" class="list-group-item d-flex align-items-center justify-content-between">May 2020</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            Copyright © 2020 by <a asp-controller="home" asp-action="index">Medical Care</a>. All right reserved.
        </div>
    </div>
